@page "/xxx"
@attribute [Authorize]
 
<AuthorizeView>
    <Authorized>
       
    </Authorized>
</AuthorizeView>
<Comp_search />
<p class="pb-2 mw-1100">
   
</p>
<div class="pb-2 mw-1100">
 
</div>

 